*.o
moc_*
lib*.so*
*/qrpgengine
*/qrpgedit
*/orange
*/orange-editor
*/orange.exe
*/orange-editor.exe
Makefile
*/Makefile
*.pro.user
*.exe
*_MinGW_*
*.Debug
*.Release
*.pdb
*.ilk
*.vcxproj.user
*.opensdf
*.tlog
*.rtlog
*.obj
